{% extends 'dashboard/index.html.twig' %}

{% block title %}Patients index{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Users List</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Username</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for patient in patients %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ patient.FirstName }}</td>
                                            <td>{{ patient.LastName }}</td>
                                            <td>{{ patient.username }}</td>
                                            <td>
                                                <a href="{{ path('patients_show', {'id': patient.id}) }}" class="btn btn-success">show</a>
                                                <a href="{{ path('patients_edit', {'id': patient.id}) }}" class="btn btn-warning">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('patients_new') }}" class="btn btn-primary">Create new</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}